/* Code taken from https://dev.to/ibn_abubakre/hiding-elements-in-css-the-accessible-way-5h1b */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
